/* フォント */

/* 'Noto Sans JP' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
/* 'Zen Kurenaido' */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
/* 'Shippori Mincho B1' */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
/* 'Rampart One' */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
    font-family: 'Noto Sans JP';
    font-size: 17.5px;
}

body {
    background-color: #d7d7d7;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 12rem;
    margin-right: 4rem;
    padding: 1rem;
}

a {
    text-decoration: inherit;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0.25rem;
    background-color:#a9a9a9;
}

/* モバイルのとき */
@media only screen and (max-width: 750px) {
    main {
        margin: 0;
    }
}
