/* フォント */

/* 'Noto Sans JP' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
/* 'Zen Kurenaido' */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
/* 'Shippori Mincho B1' */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
/* 'Shippori Antique B1' */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
/* 'Rampart One' */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
/* 'M PLUS Rounded 1c' */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=M+PLUS+Rounded+1c&family=Mochiy+Pop+One&display=swap');
/* 'Bebas Neue' */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    font-family: 'M PLUS Rounded 1c';
    font-size: 17.5px;
}

body {
    background-color: #fff8f3;
    color: black;
    margin: 0;
    padding: 0;
    margin-top: 6rem;
    /* うーん */
}

main {
    margin: 0rem 17.5%;
    padding: 1rem;
}

a {
    text-decoration: inherit;
}


.title {
    margin: 3rem;
    color: #000000;
    text-align: center;
    font-size: 3rem;
    padding: 0.25em;
    border-top: solid 2px #6cb4e4;
    border-bottom: solid 2px #6cb4e4;
    /* background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px); */
    /* background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px); */
}

/* モバイルのとき */
@media only screen and (max-width: 800px) {
    main {
        margin: 0;
    }
}