/* フォント */

/* 'Noto Sans JP' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
/* 'Zen Kurenaido' */
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
/* 'Shippori Mincho B1' */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');
/* 'Rampart One' */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root {
    font-family: 'Noto Sans JP';
    font-size: 17.5px;
}

body {
    background-color: #d7d7d7;
    color: black;
    margin: 0;
    padding: 0;
    margin-top: 3rem; /* うーん */
}

main {
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 1rem;
}

a {
    text-decoration: inherit;
}

.title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    width: 25%;
    border-bottom: solid;
    text-wrap: nowrap;
}

/* モバイルのとき */
@media only screen and (max-width: 800px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
}
