:root {
  font-family: 'Noto Sans JP';
  /* font-family: 'Noto Sans JP', sans-serif; */
  background-color: rgb(127, 127, 127);
}

.left-column {
  background-color: azure;
  position: fixed;
  display: flex;
  width: 300px;
  height: 100vh;
}

.right-column {
  background-color: lawngreen;
  padding-left: 20%;
}

.layout {
  display: flex;
}