:root {
    font-family: 'Noto Sans JP';
    font-size: 20px;
}

body {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    margin-left: 25rem;
    margin-right: 10rem;
    padding: 1rem;
}

a {
    text-decoration: inherit;
}

/* モバイルのとき */
@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
}
